$white: #fff;
$white-bg: #ffffff40;
$white-bg-accent: #ffffff60;
$dark-purple-tr: #5b496b70;
$caution-tr: #da1c7470;
$dark-text: #2c173b90;
$light-text: #f5eefc;
$caution-text: #da1c74;
$neutral-text: #6c4e83;
