$border-radius: 10px;
$puzzle-gap: 10px;
$puzzle-gap_sm: 5px;

$white-border: 1px solid $white-bg-accent;

$transition: 0.2s linear;

@mixin bg-blur {
  backdrop-filter: blur(50px);
}

@mixin notice-blur {
  backdrop-filter: blur(5px);
}
